@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body {
    background: antiquewhite;
    font-family: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

nav {
    font-family: 'Poppins', sans-serif;
}

nav ul {
    display: flex;
    /* justify-content: space-between; */
    height: 65px;
    background-color: black;
    list-style: none;
    align-items: center;
}

nav ul li {
    padding: 0 12px;
    color: #fff;
}

.brand {
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand img {
    width: 140px;
}

.container {
    min-height: 58vh;
    background-color: #000;
    /* display: flex; */
    /* flex-direction: row; */
    margin: 18px auto;
    padding: 18px;
    width: 85%;
    border-radius: 10px;
    background-image: url('images/music-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container .songList h2 {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.container .songItem{
    display: flex;
    background-color: aliceblue;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    padding: 8px 0;
    border-radius: 34px;
    margin: 12px 0;
}

.container .songItem img{
    width: 45px;
    height: 45px;
    border-radius: 8px;
}

.songItem .songListPlay{
    display: flex;
    align-items: center;
}

.songItem .timeSpan{
    padding: 0 12px;
}

.songItem .fa-circle-play{
    font-size: 20px;
    cursor: pointer;
}

.bottom {
    position: sticky;
    height: 100px;
    background-color: #000;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

.icons {
    margin: 15px 0;
}

.icons i {
    font-size: 30px;
    margin: 0 6px;
    cursor: pointer;
}

#myProgressBar {
    width: 40vw;
    height: 5px;
    cursor: pointer;
}

.bottom .songInfo{
    position: absolute;
    left: 7vw;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.bottom .songInfo img{
    width: 100px;
    height: 20px;
    margin-right: 10px;
    opacity: 0;
    transition: opacity 1s ease-in;
}